<!--
 Copyright (C) 2021 LEIDOS.

 Licensed under the Apache License, Version 2.0 (the "License"); you may not
	@@ -13,6 +12,18 @@
 WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 License for the specific language governing permissions and limitations under
 the License.


 This file is loosely based on the reference architecture developed by Intel Corporation for Leidos located here
 https://github.com/41623134/carla-autoware/blob/master/catkin_ws/src/carla_autoware_bridge/launch/carla_autoware_bridge.launch

 That file has the following license and some code snippets from it may be present in this file as well and are under the same license.

 Copyright (c) 2019 Intel Corporation

 This work is licensed under the terms of the MIT license.
 For a copy, see <https://opensource.org/licenses/MIT>.
-->

<launch>
  <arg name='host' default='localhost'/>
  <arg name='port' default='2000'/>
  <arg name='town' default='Town02'/>
  <arg name='vehicle_filter' default='vehicle.toyota.prius'/>
  <arg name='role_name' default='ego_vehicle'/>
  <arg name='spawn_point' default=''/>

  <!-- carla autoware bridge -->
  <include file='$(find carla_ros_bridge)/launch/carla_ros_bridge.launch'>
    <arg name='host' value='$(arg host)'/>
    <arg name='port' value='$(arg port)'/>
    <arg name='town' value='$(arg town)'/>
  </include>

  <!-- carla autoware ego vehicle -->
  <include file='$(find carla_ego_vehicle)/launch/carla_ego_vehicle.launch' >
    <arg name='host' value='$(arg host)'/>
    <arg name='port' value='$(arg port)'/>
    <arg name='vehicle_filter' value='$(arg vehicle_filter)'/>
    <arg name='role_name' value='$(arg role_name)'/>
    <arg name='spawn_point' value='$(arg spawn_point)'/>
    <arg name='sensor_definition_file' value='$(find carla_autoware_agent)/agent/config/sensors.json'/>
  </include>

  <!-- carla ackermann control -->
  <include file='$(find carla_ackermann_control)/launch/carla_ackermann_control.launch'>
    <arg name='role_name' value='$(arg role_name)'/>
  </include>

  <!-- tune carla ackermann controller parameters -->
  <node name='$(anon dynparam)' pkg='dynamic_reconfigure' type='dynparam' args='set_from_parameters carla/ego_vehicle/ackermann_control'>
    <param name='speed_Kp' type='double' value='0.15' />
    <param name='speed_Ki' type='double' value='0.0' />
    <param name='speed_Kd' type='double' value='0.4' />

    <param name='accel_Kp' type='double' value='0.03' />
    <param name='accel_Ki' type='double' value='0.0' />
    <param name='accel_Kd' type='double' value='0.05' />
  </node>


</launch>
