<?xml version="1.0"?>
<!--
  Copyright (C) 2018-2021 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!--
	carla_carma_vehicle.launch

  The ros launch file for the CARLA-CARMA Virtual Vehicle Integration
-->

<launch>
    <arg name="vehicle_config_dir" default="/opt/carma/vehicle/config" doc="The directory continaing vehicle config type parameters"/>

    <!-- Simulation Usage -->
    <arg name="mock_drivers" 
        default="controller can comms gnss radar lidar camera roadway_sensor imu"
        doc="List of driver node base names which will be launched as mock drivers"
    />
    <arg name="simulation_mode" default="false" doc="True if CARMA Platform is launched with CARLA Simulator"/>
    

    <!-- Parameter Remapping -->
    <remap from="vehicle_model_wheelbase" to="/vehicle_wheel_base"/>
    <remap from="~lateral_accel_limit" to="/vehicle_lateral_accel_limit"/>
    <remap from="~lateral_jerk_limit" to="/vehicle_lateral_jerk_limit"/>
    <remap from="~longitudinal_accel_limit" to="/vehicle_acceleration_limit"/>





</launch>