<!--
 Copyright (C) 2021 LEIDOS.

 Licensed under the Apache License, Version 2.0 (the "License"); you may not
	@@ -13,6 +12,18 @@
 WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 License for the specific language governing permissions and limitations under
 the License.


 This file is loosely based on the reference architecture developed by Intel Corporation for Leidos located here
 https://github.com/carla-simulator/carla-autoware/blob/master/carla-autoware-agent/launch/carla_autoware_agent.launch

 That file has the following license and some code snippets from it may be present in this file as well and are under the same license.

 Copyright (c) 2019 Intel Corporation

 This work is licensed under the terms of the MIT license.
 For a copy, see <https://opensource.org/licenses/MIT>.
-->

<launch>
  <!--
    ###################
    ## Configuration ##
    ###################
  -->
  <arg name='agent' default='agent'/>

  <!-- connecting default info  -->>
  <arg name='host' default='127.0.0.1'/>
  <arg name='port' default='2000'/>
  <arg name='town' default='Town02'/>

  <!-- use comma separated format "x,y,z,roll,pìtch,yaw" -->
  <arg name='spawn_point' default=''/>

  <!-- vehicle info -->
  <arg name='role_name' default='ego_vehicle'/>
  <arg name='vehicle_model' default='vehicle.toyota.prius'/>
  <arg name='vehicle_length' default='5.00'/>
  <arg name='vehicle_width' default='3.00'/>
  <arg name='vehicle_wheelbase' default='2.79'/>

  <!--
    ###################
    ## Virtual Vehicle Info ##
    ###################
  -->
 <!-- Directory of vehicle config parameters -->
  <arg name="vehicle_config_dir" default="/opt/carma/vehicle/config" doc="The directory continaing vehicle config type parameters"/>
  <arg name="vehicle_calibration_dir" default="/opt/carma/vehicle/calibration" doc="The directory continaing vehicle calibration type parameters"/>
 
 <!--Load Vehicle Characteristics -->
  <rosparam command="load" file="$(arg vehicle_calibration_dir)/identifiers/UniqueVehicleParams.yaml"/>
  <rosparam command="load" file="$(arg vehicle_config_dir)/VehicleConfigParams.yaml"/>

  <arg name='role_name' default='virtual_vehicle'/>
  <remap from="vehicle_length" to="/vehicle_length"/> 
  <remap from="vehicle_width" to="/vehicle_width"/> 
  <remap from="vehicle_model_wheelbase" to="/vehicle_wheel_base"/>
  <remap from="~lateral_accel_limit" to="/vehicle_lateral_accel_limit"/>
  <remap from="~lateral_jerk_limit" to="/vehicle_lateral_jerk_limit"/>
  <remap from="~longitudinal_velocity_limit" to="/config_speed_limit"/>
  <remap from="~longitudinal_accel_limit" to="/vehicle_acceleration_limit"/>



  <!-- vehicle speed PID -->
  <arg name='speed_Kp' default='0.4'/>
  <arg name='speed_Ki' default='0.0'/>
  <arg name='speed_Kd' default='0.05'/>

  <!-- vehicle acceleration PID -->
  <arg name='accel_Kp' default='0.05'/>
  <arg name='accel_Ki' default='0.0'/>
  <arg name='accel_Kd' default='0.05'/>

  <!-- Initial arguments for integration scripts -->
  <arg name='init_speed' default='5'/>
  <arg name='init_acceleration' default='1'/>
  <arg name='init_steering_angle' default='0'/>
  <arg name='init_jerk' default='0'/>
  <arg name='max_steering_degree' default='70'/>

  <arg name='use_ground_truth_localization' default='false'/>
  <arg name='use_ground_truth_detections' default='false'/>
  <!--
    ##########################
    ##  CARLA CARMA bridge  ##
    ##########################
  -->
  <include file='$(find carla_carma_bridge)/launch/carla_carma_bridge.launch'>
    <arg name='host' value='$(arg host)'/>
    <arg name='port' value='$(arg port)'/>
    <arg name='vehicle_filter' value='$(arg vehicle_model)'/>
    <arg name='role_name' value='$(arg role_name)'/>
    <arg name='spawn_point' value='$(arg spawn_point)'/>
    <arg name='speed_Kp' value='$(arg speed_Kp)'/>
    <arg name='speed_Ki' value='$(arg speed_Ki)'/>
    <arg name='speed_Kd' value='$(arg speed_Kd)'/>
    <arg name='accel_Kp' value='$(arg accel_Kp)'/>
    <arg name='accel_Ki' value='$(arg accel_Ki)'/>
    <arg name='accel_Kd' value='$(arg accel_Kd)'/>
  </include>

  <!--
    ##################
    ## Agent bridge ##
    ##################
  -->
  <include file='$(find carla_carma_agent)/$(arg agent)/bridge.launch'>
    <arg name='role_name' value='$(arg role_name)'/>
    <arg name='wheelbase' value='$(arg vehicle_wheelbase)'/>
    <arg name='init_speed' value='$(arg init_speed)'/>
    <arg name='init_acceleration' value='$(arg init_acceleration)'/>
    <arg name='init_steering_angle' value='$(arg init_steering_angle)'/>
    <arg name='init_jerk' value='$(arg init_jerk)'/>
    <arg name='max_steering_degree' value='$(arg max_steering_degree)'/>
  </include>
</launch>
